* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: 3rem;
  font-weight: 200;
  padding: 2% 4%;
  height: 100vh;
  display: flex;
  justify-content: center;
  // background-color: #ece9e9;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 20px;
  font-weight: 200;
}

p {
  font-size: 16px;
}
